.big-wrapper{
    height: 100vh;
    position: relative;
}

.wrapper{
    position: absolute;
    width: 1000px;
    height: 75%;
    top: 20%;
    left:15%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}

.table{
    text-align: justify;
    font-size: 16px;    
}
.btn{
    margin-top: 16px;
    
}
.btn-icon{
    padding-right: 4px;
}
