thead {
    text-align: center;
    vertical-align: middle;

}

.update {
    padding-left: 4px;
    :hover {
        cursor: pointer;
    }
    color:green; 

}
.delete {
    padding-left: 4px;
    :hover {
        cursor: pointer;
    }
    color: red;

}

.options {
    display: flex;
    justify-content: center;
    // flex
}

thead th:first-child{
    width: 49px; 
}

tbody td:first-child{
    width: 50px;
}

thead th:nth-child(2){
    width: 147px; 
}

tbody td:nth-child(2){
    width: 150px; 
}
thead th:nth-child(3){
    width: 491px; 
}

tbody td:nth-child(3){
    width: 500px;
}
thead th:nth-child(4){
    width: 150px; 
}

tbody td:nth-child(4){
    width: 150px;
}
thead th:last-child{
    width: 162px; 
}

tbody td:last-child{
    width: 150px;
}

thead, tbody { display: block; }

tbody {
    text-align: center;
    width: 100%;
    height: 238px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

tbody tr td:nth-child(3){
    text-align: justify !important ;

}


tbody tr td:nth-child(4){
    text-align: justify !important ;

}


 
thead{
    background-color: var(--primary);
}

thead th:first-child{
    border-width: 1px;
    border-top-left-radius: 20px !important;
}


.about{
    a{
        color: var(--primary);
    }
}
.update{
    a{
        color: rgb(90, 193, 90);
    }
    
}
.modal{
    font-size: 16px;
}